<div class="carousel relative container mx-auto" style="max-width: 1600px;">
  <div class="carousel-inner relative overflow-hidden w-full">
    <!--Slide 1-->
    <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden checked="checked">
    <div class="carousel-item absolute opacity-0" style="height: 60vh;"> <!-- Cambié a 60vh -->
      <div class="h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-right"
           style="background-image: url('images/slidebar/coffe_slide1.jpeg');">
        <div class="container mx-auto px-4"> <!-- Agregué px-4 -->
          <div class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start tracking-wide">
            <p class="bg-amber-600 text-white text-2xl my-4 rounded-lg px-2 py-2">Bienvenidos a nuestro rincón del café</p>
          </div>
        </div>
      </div>
    </div>

    <label for="carousel-3"
      class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
    <label for="carousel-2"
      class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

    <!--Slide 2-->
    <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden>
    <div class="carousel-item absolute opacity-0" style="height: 60vh;">
      <div class="h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-right"
           style="background-image: url('images/slidebar/coffe_slide2.jpeg');">
        <div class="container mx-auto px-4">
          <div class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start tracking-wide">
            <p class="bg-amber-600 text-white text-2xl my-4 rounded-lg px-2 py-2">Explora, saborea y disfruta</p>
          </div>
        </div>
      </div>
    </div>

    <label for="carousel-1"
      class="prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
    <label for="carousel-3"
      class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

    <!--Slide 3-->
    <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden>
    <div class="carousel-item absolute opacity-0" style="height: 60vh;">
      <div class="h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-bottom"
           style="background-image: url('images/slidebar/coffe_slide4.jpeg');">
        <div class="container mx-auto px-4">
          <div class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start tracking-wide">
            <p class="bg-amber-600 text-white text-2xl my-4 rounded-lg px-2 py-2">Café, la mejor parte de cada día</p>
          </div>
        </div>
      </div>
    </div>

    <label for="carousel-2"
      class="prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
    <label for="carousel-1"
      class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li class="inline-block mr-3">
        <label for="carousel-1"
          class="carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900">•</label>
      </li>
      <li class="inline-block mr-3">
        <label for="carousel-2"
          class="carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900">•</label>
      </li>
      <li class="inline-block mr-3">
        <label for="carousel-3"
          class="carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900">•</label>
      </li>
    </ol>
  </div>
</div>
