<div id="page-container"
     class="mx-auto flex min-h-dvh w-full min-w[320px] flex-col bg-gray-100 dark:bg-gray-900 dark:text-gar-100">
  <header
    id="page-header"
    class="z-1 flex flex-none items-center bg- white shadown-sm dark:bg-gray-700">
    <div class="container mx-auto px-8 lg:px-8 xml:max-w-7xl">
      <app-navbar></app-navbar>
    </div>
  </header>

  <main>
    <div class="relative pt-16 pb-32 flex content-center  items-center justify-center min-h-screen-75">
      <div
        class="mx-auto px-4 sm:container">
        @if (producto){
          <div class="container mx-auto px-6">
            <div class="md:flex md:items-center">
              <div class="w-full h-64 md:w-1/2 lg:h-96">
                <img [src]="'images/products/'+producto.codigo_barras+'.png'"
                     alt="producto" class="w-full h-64 object-cover">
              </div>
              <div class="w-full max-w-lg mx-auto mt-5 md:ml-8 md:mt-0 md:w-1/2">
                <h3 class="text-gray-700 uppercase text-lg">{{producto.nombre}}</h3>
                <span class="text-gray-500 mt-3">{{producto.precio}}</span>
                <hr class="my-3">
                <div class="flex items-center mt-6">
                  <button class="px-8 py-2 bg-indigo-600 text-white text-sm font-medium rounded hover:bg-indigo-500 focus:outline-none focus:bg-indigo-500">Order Now</button>
                  <button class="mx-2 text-gray-600 border rounded-md p-2 hover:bg-gray-200 focus:outline-none">
                    <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                  </button>
                </div>
              </div>
            </div>
            @if (productoFiltrado){
              <div class="mt-16">
                <h3 class="text-gray-600 text-2xl font-medium">Mas Productos</h3>
                <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6">
                  @for (prod of productoFiltrado; track $index){
                    <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
                      <div class="flex items-end justify-end h-56 w-full bg-cover"
                           [style.background-image]="'url(\'images/products/' + producto.codigo_barras + '.png\')'"                      >
                        <button class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                          <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                        </button>
                      </div>
                      <div class="px-5 py-3">
                        <h3 class="text-gray-700 uppercase">{{prod.nombre}}</h3>
                        <span class="text-gray-500 mt-2">{{prod.categoria_id}}</span>
                      </div>
                    </div>
                  }
                </div>
              </div>
            }
          </div>
        }

      </div>
    </div>
  </main>
</div>
