@if (showModal) {
  <div
    class="fixed bottom-6 left-1/2 transform -translate-x-1/2 z-40 bg-[#B3977E] text-[#103320] text-sm px-6 py-4 w-[90%] max-w-xl shadow-lg rounded-lg flex flex-col md:flex-row items-center justify-between gap-4"
    role="dialog"
    aria-label="Aviso de cookies"
    aria-hidden="true"
    data-nosnippet
  >
    <span class="text-center md:text-left leading-snug">
      Utilizamos cookies para mejorar tu experiencia. Al continuar, aceptas su uso.
    </span>
    <button
      (click)="accept()"
      class="px-4 py-2 rounded bg-[#103320] text-[#c8beaf] font-semibold hover:bg-opacity-90 transition-all text-sm"
    >
      Aceptar
    </button>
  </div>
}
