<div id="page-container"
     class="mx-auto flex min-h-dvh w-full min-w[320px] flex-col bg-gray-100 dark:bg-gray-900 dark:text-gar-100">
  <header
    id="page-header"
    class="z-1 flex flex-none items-center bg- white shadown-sm dark:bg-gray-700">
    <div class="container mx-auto px-8 lg:px-8 xml:max-w-7xl">
      <app-navbar></app-navbar>
    </div>

  </header>
<main>
  <div class="relative pt-16 pb-32 flex content-center  items-center justify-center min-h-screen-75">
    <div
      class="mx-auto px-4 sm:container">

      <div class="relative bg-gradient-to-br from-primary-50 to-white dark:from-gray-800 dark:to-gray-900">
        <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
          <h1 class="text-4xl font-bold text-primary-800 dark:text-white mb-8 animate-bounce-slow">
            Nuestros Productos
          </h1>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
            <!-- Grid de Porductos -->
            @for (producto of productos; track $index){
              <div class="bg-white dark:bg-gray-700 rounded-2xl shadow-lg overflow-hidden transform transition-all hover:-translate-y-2 hover:shadow-2xl">
                <img [src]="'images/products/'+producto.codigo_barras+'.png'"
                     alt="Casual Wear" class="w-full h-64 object-cover">
                <div class="p-6">
                  <h3 class="text-xl font-semibold text-primary-800 dark:text-white">{{producto.nombre}}</h3>
                  <div class="flex justify-between items-center mt-2">
                    <p class="text-primary-600 font-bold">${{producto.precio}}</p>
                  </div>
                  <button class="mt-4 w-full bg-primary-500 text-white py-2 px-4 rounded-lg hover:bg-primary-600 transition-colors">
                    Solicitar
                  </button>
                </div>
              </div>
            }
            </div>

          <div class="bg-white dark:bg-gray-900 py-12">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
              <h2 class="text-3xl font-bold text-primary-800 dark:text-white mb-8">Categorías destacadas</h2>
              <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
                <div class="relative category-overlay overflow-hidden rounded-2xl shadow-lg">
                  <img src="images/categories/Accesorios.jpeg"
                       alt="Men's Wear" class="w-full h-64 object-cover">
                  <div class="absolute inset-0 bg-primary-500 bg-opacity-40 hover:bg-opacity-50 transition-all duration-300 rounded-2xl"></div>
                  <span class="absolute bottom-4 left-4 text-white font-semibold text-xl drop-shadow-lg">Accesorios</span>
                </div>
                <div class="relative category-overlay overflow-hidden rounded-2xl shadow-lg">
                  <img src="images/categories/Cafeteras.jpeg"
                       alt="Accessories" class="w-full h-64 object-cover">
                  <div class="absolute inset-0 bg-primary-500 bg-opacity-40 hover:bg-opacity-50 transition-all duration-300 rounded-2xl"></div>
                  <span class="absolute bottom-4 left-4 text-white font-semibold text-xl drop-shadow-lg">Cafeteras</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>

</div>
