<div id="page-container" class="mx-auto flex min-h-screen w-full flex-col bg-gray-100 dark:bg-gray-900 dark:text-gray-100">
  <header id="page-header" class="flex-none z-10 bg-white shadow-sm dark:bg-gray-700 w-full">
    <div class="px-4 lg:px-8 xl:px-8">
      <app-navbar></app-navbar>
    </div>
  </header>

  <main class="flex-grow w-full">
    <!-- Page Content -->
    <div class="px-4 lg:px-8">
      <app-carousel></app-carousel>

      <div class="flex flex-col items-center justify-center bg-gray-50 py-16 text-gray-400 dark:bg-gray-800 w-full">
        <app-boxes-icons></app-boxes-icons>
        <app-categories-grid></app-categories-grid>
      </div>
    </div>
  </main>

  <footer class="mt-auto w-full bg-white dark:bg-gray-700">
    <app-footer></app-footer>
  </footer>
</div>
