@defer {
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg p-6">
    <h1 class="text-2xl font-bold text-center mb-6">Productos</h1>

    <div class="flex justify-center mb-6">
      <button
        type="button"
        class="bg-[#c6b89b] hover:bg-lime-900 text-white font-medium py-2 px-4 rounded flex items-center space-x-2 shadow-md transition"
      >
        <span class="text-lime-950 hover:text-[#c6b89b]">Agregar Producto</span>
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
             width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 12h14m-7 7V5"/>
        </svg>
      </button>
    </div>

    <small>Total de items {{productos.length}}</small>
    <table class="w-full text-sm text-left text-gray-700 border-t">
      <thead>
      <tr>
        <th scope="col" class="px-6 py-3 bg-[#c6b89b] text-black">Barra</th>
        <th scope="col" class="px-6 py-3 bg-[#c6b89b] text-black">Item</th>
        <th scope="col" class="px-6 py-3 bg-[#c6b89b] text-black">Descripcion</th>
        <th scope="col" class="px-6 py-3 bg-[#c6b89b] text-black">Precio</th>
        <th scope="col" class="px-6 py-3 bg-[#c6b89b] text-black">Stock</th>
        <th scope="col" class="px-6 py-3 bg-[#c6b89b] text-black">Disponible</th>
        <th scope="col" class="px-6 py-3 bg-[#c6b89b] text-black"></th>
      </tr>
      </thead>
      <tbody>
        @for (producto of productos; track producto.id) {
          <tr class="border-b hover:bg-gray-50 transition">
            <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
              <img class="w-10 h-10 rounded-full" [src]="getUrlImage(producto.sku)" [alt]="producto.sku">
              <div class="ps-3">
                <div class="text-gray-800 font-semibold">{{ producto.sku }}</div>
              </div>
            </th>
            <td class="px-6 py-4">{{ producto.item }}</td>
            <td class="px-6 py-4">{{ producto.descripcion }}</td>
            <td class="px-6 py-4">{{ producto.precio | currency }}</td>
            <td class="px-6 py-4">{{ producto.stock }}</td>
            <td class="px-6 py-4">
              @if (producto.disponible) {
                <span class="text-[#103320] font-semibold">Disponible</span>
              } @else {
                <span class="text-[#a3866f] font-medium">No disponible</span>
              }
            </td>
            <td class="px-6 py-4"></td>
          </tr>
        }
      </tbody>
    </table>

  </div>
} @loading (minimum 1000ms){
  <div class="absolute inset-0 flex items-center justify-center">
    <img [src]="'images/loading/loading.gif'" alt="Cargando..."
         class="w-60 h-60 rounded-full object-cover object-center"/>
  </div>
}
