@defer {
  <div class="relative overflow-x-auto sm:rounded-xl bg-white shadow-md p-6">

    <!-- Header -->
    <div class="flex items-center justify-between mb-6 bg-gray-50 p-4 rounded-lg">

    <div>
        <h1 class="text-2xl font-bold text-gray-800">Productos</h1>
        <p class="text-sm text-gray-500">Total: {{ productos.length }} items</p>
      </div>

      <button
        type="button"
        (click)="abrirModal()"
        class="flex items-center gap-2 bg-[#c6b89b] hover:bg-[#b1a487]
             text-lime-950 font-semibold px-5 py-2.5 rounded-lg
             shadow-md transition transform hover:scale-105">

        <svg class="w-5 h-5" fill="none" stroke="currentColor"
             stroke-width="2" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 5v14m7-7H5"/>
        </svg>

        <span>Agregar producto</span>
      </button>
    </div>

    <div class="border-b border-gray-200 mb-4"></div>

    <!-- Tabla -->
    <table class="w-full text-sm text-left text-gray-700 border-t">
      <thead>
      <tr>
        <th scope="col" class="px-6 py-3 bg-[#c6b89b] text-black">Barra</th>
        <th scope="col" class="px-6 py-3 bg-[#c6b89b] text-black">Item</th>
        <th scope="col" class="px-6 py-3 bg-[#c6b89b] text-black">Descripcion</th>
        <th scope="col" class="px-6 py-3 bg-[#c6b89b] text-black">Precio</th>
        <th scope="col" class="px-6 py-3 bg-[#c6b89b] text-black">Stock</th>
        <th scope="col" class="px-6 py-3 bg-[#c6b89b] text-black">Disponible</th>
        <th scope="col" class="px-6 py-3 bg-[#c6b89b] text-black">Accion</th>
      </tr>
      </thead>
      <tbody>
        @for (producto of productos; track $index) {
          <tr class="border-b hover:bg-gray-50 transition">
            <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
              <img class="w-10 h-10 rounded-full" [src]="getUrlImage(producto.sku)" [alt]="producto.sku">
              <div class="ps-3">
                <div class="text-gray-800 font-semibold">{{ producto.sku }}</div>
              </div>
            </th>
            <td class="px-6 py-4">{{ producto.item }}</td>
            <td class="px-6 py-4">{{ producto.descripcion }}</td>
            <td class="px-6 py-4">{{ producto.precio | currency }}</td>
            <td class="px-6 py-4">{{ producto.stock }}</td>
            <td class="px-6 py-4">
              @if (producto.disponible) {
                <span class="text-[#103320] font-semibold">Disponible</span>
              } @else {
                <span class="text-[#a3866f] font-medium">No disponible</span>
              }
            </td>
            <td class="px-6 py-4">
              <div class="flex items-center gap-2 justify-center">

                @if (removeIndex !== $index) {

                  <!-- Editar -->
                  <button
                    type="button"
                    (click)="abrirModalProducto(producto)"
                    class="flex items-center justify-center w-9 h-9
               rounded-lg bg-[#B3977E] hover:bg-[#a3866f]
               text-white shadow transition">
                  <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M14 4.182A4.136 4.136 0 0 1 16.9 3c1.087 0 2.13.425 2.899 1.182A4.01 4.01 0 0 1 21 7.037c0 1.068-.43 2.092-1.194 2.849L18.5 11.214l-5.8-5.71 1.287-1.31.012-.012Zm-2.717 2.763L6.186 12.13l2.175 2.141 5.063-5.218-2.141-2.108Zm-6.25 6.886-1.98 5.849a.992.992 0 0 0 .245 1.026 1.03 1.03 0 0 0 1.043.242L10.282 19l-5.25-5.168Zm6.954 4.01 5.096-5.186-2.218-2.183-5.063 5.218 2.185 2.15Z" clip-rule="evenodd"/>
                  </svg>
                </button>

                  <!-- Eliminar -->
                  <button
                    type="button"
                    (click)="removeIndex = $index"
                    class="flex items-center justify-center w-9 h-9
               rounded-lg bg-orange-400 hover:bg-red-500
               text-white shadow transition">
                  <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                  </svg>
                </button>

                } @else {

                  <!-- Texto -->
                  <span class="text-xs text-gray-600 mr-1">¿Eliminar?</span>

                  <!-- Sí -->
                  <button
                    type="button"
                    (click)="deleteProduct(producto)"
                    class="flex items-center justify-center w-9 h-9
               rounded-lg bg-red-600 hover:bg-red-700
               text-white shadow transition">
                    ✔
                  </button>

                  <!-- No -->
                  <button
                    type="button"
                    (click)="removeIndex = null"
                    class="flex items-center justify-center w-9 h-9
               rounded-lg bg-gray-300 hover:bg-gray-400
               text-gray-800 shadow transition">
                    ✖
                  </button>
                }
              </div>
            </td>

            <td class="px-6 py-4"></td>
          </tr>
        }
      </tbody>
    </table>

  </div>

  <app-producto-modal
    [(visible)] = modalProducto
    [modo]="modo"
    (saveRequest)="handleSaveRequest($event)"
    [idProduct]="idProducto"
  >
  </app-producto-modal>

} @loading (minimum 1000ms){
  <div class="absolute inset-0 flex items-center justify-center">
    <img [src]="'images/loading/loading.gif'" alt="Cargando..."
         class="w-60 h-60 rounded-full object-cover object-center"/>
  </div>
}
