@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'BricolageGrotesque';
  src: url('/fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GillSans';
  src: url('/fonts/GillSans.ttc') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TAN-PEARL';
  src: url('/fonts/TAN-PEARL.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TimesNewRomma';
  src: url('/fonts/Times New Romma.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'BricolageGrotesque', sans-serif;
}

h1 {
  font-family: 'GillSans', sans-serif;
}

footer {
  font-family: 'TimesNewRomma', serif;
}
