@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'BricolageGrotesque';
  src: url('../public/fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GillSans';
  src: url('../public/fonts/GillSans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TAN-PEARL';
  src: url('../public/fonts/TAN-PEARL.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TimesNewRomma';
  src: url('../public/fonts/TimesNewRoman.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Fraunces';
  src: url('../public/fonts/Fraunces.woff2') format('woff2');
  font-weight: 100 900;
}

body {
  font-family: 'BricolageGrotesque', sans-serif;
}

h1 {
  font-family: 'GillSans', sans-serif;
}

footer {
  font-family: 'TimesNewRomma', serif;
}

.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
